---
import type { CollectionEntry } from "astro:content";
import Image from "astro/components/Image.astro";

type Props = {
	entry: CollectionEntry<"blog" | "zenn">;
};

const { entry } = Astro.props;
---

<div class="w-[min(70rem,100%)]">
	{
		entry.collection === "blog" ? (
			<a
				class="shadow-3 flex flex-col gap-3 rounded-md border-2 border-gray-400 p-4 shadow-md transition duration-150 hover:scale-105 sm:flex-row"
				href={`/blog/${entry.id}`}
			>
				<div class="flex h-[105px] w-[200px] items-center justify-center rounded-sm border border-gray-400 shadow-sm">
					<Image
						src="/reyalka.webp"
						alt={""}
						width={200}
						height={100}
						class="h-[50px] w-[50px] object-contain"
					/>
					れやかボックス
				</div>

				<div class="flex flex-col">
					<p class="text-xl font-bold">{entry.data.title}</p>
					<p>{entry.data.date}</p>
				</div>
			</a>
		) : (
			<a
				class="shadow-3 flex flex-col gap-3 rounded-md border-2 border-gray-400 p-4 shadow-md transition duration-150 hover:scale-105 sm:flex-row"
				href={entry.data.link}
			>
				<img
					src={entry.data.ogUrl}
					alt={entry.data.title}
					width={200}
					height={100}
					class="object-contain"
				/>
				<div class="flex flex-col">
					<p class="text-xl font-bold">{entry.data.title}</p>
					<p>{entry.data.date}</p>
				</div>
			</a>
		)
	}
</div>
