---
import Layout from "./Layout.astro";
import BlogWrapper from "./BlogWrapper.astro";

type Props = {
	title: string;
	date: string;
	noindex?: boolean;
};

const { title, date, noindex = false } = Astro.props;
---

<Layout title={title} noindex={noindex}>
	<article class="prose w-[min(1000px,90vw)]">
		<h2 class="text-3xl shadow-slate-500 text-shadow">{title}</h2>
		<p class="text-xl text-site-light-black-600">
			<time datetime={date}>{date}</time>
		</p>
		<BlogWrapper>
			<slot />
		</BlogWrapper>
	</article>
</Layout>
